body {
  background-color: rgb(53, 50, 50);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 50px;
  text-align: center;
}

.game-container {
  text-align: center;
}

.move-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: fill;
}

.move-btn {
  margin-right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

p {
  font-size: 25px;
  font-weight: bold;
}
